._demo--container
  a.wordmark(href='https://www.ibm.com/watson/developer/')
    span.wordmark--left
    span.wordmark--right   Secondary Sensing Project
._demo--banner.banner
  ._demo--container
    .banner--service-container
      .banner--service-icon-container
        img.banner--service-icon(src='/images/service-icon.svg', alt='')
      .banner--service-info
        h1.banner--service-title.base--h1
          img.banner--service-icon_INLINE(src='/images/service-icon.svg', alt='')
          | Visual Recognition for Manufacturing
        .banner--service-description
          | Visual Recognition uses API’s based on deep learning algorithms to analyze images that can give you insights into your visual content. This can help you improve manufacturing operations and safety. Many type of objects can already be recognized by default: robots, tanks, machines. When it comes to specific objects, you can develop custom classifiers. We have developed a very basic tank classifier with to type of tanks (TankTypeA and TankTypeB, respectively first and second pictures).
